/* 
    ./代表当前目录
    不加./会默认为插件
*/
@import './mixin.scss';
.container{
    position: relative;
    width: 1226px;
    margin-right: auto;/* 控制右居中 */
    margin-left: auto;/* 控制左居中  */
}
a{
    img{
        width: 100%;
        height: 100%;
    }
}
input{
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}
.fl{/* 左浮动 */
    float: left;
}
.fr{/* 右浮动 */
    float: right;
}
.clearfix:before,.clearfix:after{/* 清楚浮动  伪类*/
    content:'';
    display: table;
}
.clearfix:after{
    clear: both;
}

//公共logo 图片
.header-logo{
    display: inline-block;/* 行内块元素 */
    width: 60px;
    height: 60px;
    border-radius: 40%;
    background-color: #FF6600;
    a{/* 两张logo的长度width */
        display: inline-block;
        width: 120px;
        height: 60px;
        /* 通过伪类 (设置两张图片)  */
        &:before{
            content:'';/* 内容为空 */
            @include bgImg(60px,60px,'/imgs/mi-logo.png',55px);/* 利用mixin简化代码 */
            transition: margin .2s;/* 指定哪一个元素需要进行过渡  */
        }
        &:after{
            content:'';/* 内容为空  不加的话伪类生成不了。必须加content*/
            @include bgImg(60px,60px,'/imgs/mi-home.png',55px);/* 利用mixin简化代码 */
        }
        &:hover:before{
            margin-left: -60px;
            transition: margin .2;/* 过渡元素 指定元素margin  2s过渡 */
        }
    }

}